+++
abstract = "Formal verification has advanced to the point that developers can verify the correctness of small, critical modules. Unfortunately, despite considerable efforts, determining if a “verification” verifies what the author intends is still difficult. Previous approaches are difficult to understand and often limited in applicability. Developers need verification coverage in terms of the software they are verifying, not model checking diagnostics. We propose a methodology to allow developers to determine (and correct) what it is that they have verified, and tools to support that methodology. Our basic approach is based on a novel variation of mutation analysis and the idea of verification driven by falsification. We use the CBMC model checker to show that this approach is applicable not only to simple data structures and sorting routines, and verification of a routine in Mozilla’s JavaScript engine, but to understanding an ongoing effort to verify the Linux kernel Read-Copy-Update (RCU) mechanism."
authors = ["Alex Groce","Iftekhar Ahmed", "Carlos Jensen","Paul E. McKenney" ]
date = "2015-07-01"
image_preview = ""
math = true
publication_types = ["1"]
publication = "In *30th ACM/IEEE  International  Conference  on  Automated Software Engineering (ASE)*, ACM/IEEE."
publication_short = "In *ASE*"
selected = true
title = "How Verified is My Code Falsification-Driven Verification"
url_code = ""
url_dataset = ""
url_pdf = "pdf/paper4.pdf"
#url_project = "project/deep-learning/"
url_slides = ""
url_video = ""

#[[url_custom]]
#name = "Custom Link"
#url = "http://www.example.org"

# Optional featured image (relative to `static/img/` folder).
[header]
#image = ""
#caption = "My caption :smile:"

+++

