{{ define "main" }}
<section class="row">
  <div class="col-s-12 col-md-4">
    <img src="images/mini-logo.png" height="300px"/>
  </div>
  <div class="col-s-12 col-md-8">
    <h2>The STAIRS</h2>
    <p class="text-justify" style="font-size: 1.1em">
      The <b>Software Engineering & Testing Using Artificial Intelligence for Reliable Software</b> lab, located
      at UC Irvine, tries to develope and come with better tools and techniques to develope more reliable, scalable,
      and maintable softwares. We use artificial intelligence to analyze software evolution.
    </p>
    <p class="text-justify" style="font-size: 1.1em">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque ut sapien ac lectus fermentum efficitur quis sit amet dolor. Proin luctus, mi lobortis volutpat
      egestas, lectus purus venenatis augue, nec pulvinar mauris nibh eu nisl. Lorem ipsum dolor sit </p>
  </div>
</section>

<section class="row border-top">
  <div class="col-s-12 col-md-4 order-md-2">
    <img src="images/uci-logo.png" height="300px"/>
  </div>
  <div class="col-s-12 col-md-8 order-md-1">
    <h2 style="color: #0D47A1;">Join the STAIRS'!</h2>
    <p class="text-justify" style="font-size: 1.1em">
      Wre are looking for highly motivated <b>PhD or Master</b> students. Please send resumes and cover letters to
      Iftekha@uci.edu
    </p>
    <p class="text-justify" style="font-size: 1.1em">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque ut sapien ac lectus fermentum efficitur quis sit amet dolor. Proin luctus, mi lobortis volutpat
      egestas, lectus purus venenatis augue, nec pulvinar mauris nibh eu nisl. Lorem ipsum dolor sit </p>
  </div>
</section>
{{.Content}}

{{ end }}

